@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&displayswap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 1s;
}

body {
  font-family: "Poppins", "Comic Sans MS", sans-serif;
  overflow: hidden;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #96f1ff;
  height: 100vh;
}

header{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 100px;
  z-index: 10000;
  transition: 1s;
}